<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>837486099813-in2s8onndok54p4mtro0ftp0vp8jm2gb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.837486099813-in2s8onndok54p4mtro0ftp0vp8jm2gb</string>
	<key>API_KEY</key>
	<string>AIzaSyB7thTYwCs2XmG8HIpJkji3Qe97yWRyjBw</string>
	<key>GCM_SENDER_ID</key>
	<string>837486099813</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.timothymazenge.Photo-Share</string>
	<key>PROJECT_ID</key>
	<string>photo-share-5860d</string>
	<key>STORAGE_BUCKET</key>
	<string>photo-share-5860d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:837486099813:ios:eb86d657425e160f25358c</string>
</dict>
</plist>